<div class="container">
    <h1>Medicine Stock System for Health Centers</h1>
    <form [formGroup]="loginForm" (submit)="login()">
        <label for="Email">Email ID</label>
        <input type="email" id="Email" name="Email" required formControlName="Email">

        <label for="Password">Password</label>
        <input type="password" id="Password" name="Password" required formControlName="Password">
        <label>Role</label>
        <br>
        <input type="radio" id="pharmacist" name="UserType" value="Pharmacist" required formControlName="UserType">
        <label for="Pharmacist">Pharmacist</label><br>
        <input type="radio" id="medicalOfficer" name="UserType" value="Medical Officer" required formControlName="UserType">
        <label for="Medical Officer" >Medical Officer</label><br>
        <input type="radio" id="admin" name="UserType" value="Admin" required formControlName="UserType">
        <label for="Admin">Admin</label>

        <button type="submit">Login</button>
    </form>
</div>