.container {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    background-image: url("https://slidescorner.com/wp-content/uploads/2022/11/01-Drake-Healthcare-and-Medical-Free-PPT-Background-by-SlidesCorner.com_.jpg");
    height: 150vh;
    overflow: hidden;
    width: 140vw;
}

h2 {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

form:hover {
    transform: scale(1.02);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.btn{
    background-color: #333;
    color: #fff;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}
input[type="reset"] {
    background-color: #333;
    color: #fff;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #555;
}

input[type="submit"] {
    margin-right: 10px;
}

textarea {
    resize: vertical;
}

header {
    background: linear-gradient(to bottom, #333, #555);
    color: #fff;
    padding: 10px 0;
    text-align: center;
}