<div class="container1">
    <div class="container">
        <h1>Medicine Stock System for Health Centers</h1>
        <form [formGroup]="signForm" (submit)="sign()">
            <label>Who are you?</label>
            <br>
            <br>
            <input type="radio" id="pharmacist" name="UserType" value="Pharmacist" required formControlName="UserType">
            <label for="Pharmacist">Pharmacist</label>
            <input type="radio" id="medicalOfficer" name="UserType" value="Medical Officer" required formControlName="UserType">
            <label for="Medical Officer" >Medical Officer</label>
            <input type="radio" id="admin" name="UserType" value="Admin" required formControlName="UserType">
            <label for="Admin">Admin</label>
            <br>
            <br>
            <label for="contactNumber">Contact Number</label>
            <input type="text" id="contactNumber" name="ContactNumber" required formControlName="ContactNumber">
    
            <label for="email">Email ID</label>
            <input type="email" id="email" name="Email" required formControlName="Email">
    
            <label for="password">Password</label>
            <input type="password" id="password" name="Password" required formControlName="Password">

            <label for="location">Location</label>
            <input type="text" id="location" name="Location" required formControlName="Location">
    
            <button type="submit">Sign Up</button>
        </form>
        <div class="login-link">
            Already have an account? <a href="login.html" [routerLink]="['/login']">Login</a>
        </div>
    </div>
</div>